* {	margin: 0;
	color: #fff;
	font-family: "Inter", sans-serif;
	font-weight: 400;
	outline: 0;
	border: 0;
}

*:hover,
*:focus {
	outline: 0;
	border: 0;
}

body {
	background-image: url("./pictures/background.jpg");
	background-color: #525252;
	background-repeat: no-repeat;
	background-blend-mode: multiply;
	background-size: cover;
	background-position: center;
	overflow-x: hidden;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

img {
	animation-name: show;
	animation-fill-mode: forwards;
	width: 100px;
}

input,
input:hover,
input:focus {
	color: rgb(32, 32, 32);
	display: block;
	margin: 10px 0;
	padding: 6px 8px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
	appearance: textfield;
}

label {
	display: block;
	margin-bottom: 10px;
}

.img-container {
	width: 80%;
	margin: 0 auto;
	height: 80vh;
	display: grid;
	justify-content: center;
	gap: 16px;
	grid-template-columns: repeat(8, 140px);
	grid-template-rows: repeat(2, calc(140px / 2 * 3));
}

.game-settings {
	background-color: #eaeaea;
	width: 300px;
	min-height: 300px;
	padding: 20px 20px;
	border-radius: 4px;
	animation: drop-down 0.3s cubic-bezier(0.17, 0.67, 0.56, 1.36) 0s 1;
}

.game-settings * {
	color: #525252;
}

.submit-settings {
	background-color: #404040;
	color: #fff;
	padding: 10px 12px;
	border-radius: 4px;
	margin-top: 10px;
	cursor: pointer;
}

.card {
	height: calc(140px / 2 * 3);
	width: 140px;
	border-radius: 10px;
	background-color: #fff;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.player1 {
	color: #ff0000;
}

.player2 {
	color: #0000ff;
}

.player1-shadow {
	box-shadow: #ff0000 0px 5px 15px;
}

.player2-shadow {
	box-shadow: #0000ff 0px 5px 15px;
}

@keyframes drop-down {
	0% {
		transform: translateY(-600px);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes go-up {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-600px);
	}
}
